@font-face {
  font-family: Rubik;
  src: url(https://cdn.phazed.xyz/fonts/rubik/Rubik-VariableFont_wght.ttf);
}

body{
  background: #000;
  margin: 0;
  font-family: Rubik, 'Courier New';
}

.loading{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  opacity: 1;
  color: white;
  justify-content: center;
  align-items: center;
}

.navbar{
  background: #555a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -50px;
  padding-top: 50px;
  height: 50px;
  display: flex;
  backdrop-filter: blur(10px);
  z-index: 10;
  box-shadow: #000 0 0 10px;
}

.navbar .tabs{
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
}

.navbar .account{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

.navbar .account:hover{
  background: #0005;
}

.user-pfp{
  width: 35px;
  height: 35px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
  margin-right: 10px;
}

.account-dropdown{
  font-size: 20px;
  color: white;
}

.nav-tab{
  color: white;
  width: 150px;
  height: 100%;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-tab:hover{
  background: #0005;
}

.dropdown{
  position: fixed;
  right: 10px;
  top: 60px;
  background: #555a;
  height: 60px;
  width: 150px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.dropdown-button{
  width: 100%;
  text-align: center;
  padding: 5.5px 0;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.dropdown-button:hover{
  color: #fff;
}

.photo-list{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.photo-tree-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.loading-bar{
  width: 500px;
  height: 8px;
  border-radius: 12px;
  background: #333;
  margin-top: 10px;
  padding: 2px;
}

.loading-bar-inner{
  width: 0%;
  height: 8px;
  border-radius: 18px;
  background: #00ccff;
}

.photo-container{
  width: 100%;
  height: 100%;
}

.single-photo-container{
  margin: 10px;
  display: inline-block;
}

.photo-viewer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #0009;
  backdrop-filter: blur(75px);
  opacity: 0;
  display: none;
}

.image-container{
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 0;
}

.viewer-button{
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  background: #8885;
  backdrop-filter: blur(10px);
  user-select: none;
  cursor: pointer;
  z-index: 7;
}

.viewer-close{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.prev-button{
  transition: 0.25s;
  position: fixed;
  top: 50%;
  left: 0;
  color: white;
  width: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(50px);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  user-select: none;
  box-shadow: #000 0 0 10px;
}

.prev-button:hover{
  background: rgba(255, 255, 255, 0.349);
}

.next-button{
  transition: 0.25s;
  position: fixed;
  top: 50%;
  right: 0;
  color: white;
  width: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(50px);
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  user-select: none;
  box-shadow: #000 0 0 10px;
}

.next-button:hover{
  background: rgba(255, 255, 255, 0.349);
}