@font-face {
  font-family: Rubik;
  src: url(https://cdn.phazed.xyz/fonts/rubik/Rubik-VariableFont_wght.ttf);
}

body{
  background: #000;
  margin: 0;
  font-family: Rubik, 'Courier New';
}

.loading{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  opacity: 1;
  color: white;
  justify-content: center;
  align-items: center;
}

.navbar{
  background: #555a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -50px;
  padding-top: 50px;
  height: 50px;
  display: flex;
  backdrop-filter: blur(10px);
  z-index: 10;
  box-shadow: #000 0 0 10px;
}

.navbar .tabs{
  width: calc(100% - 450px);
  height: 100%;
  display: flex;
}

.navbar .account{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

.navbar .account:hover{
  background: #0005;
}

.navbar .control-lights{
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-lights .light{
  user-select: none;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  filter: invert(100%);
}

.control-lights .light:hover{
  background: #fff5;
}

.control-lights .light img{
  width: 25%;
}

.icon{
  width: 15px;
  filter: invert(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-pfp{
  width: 35px;
  height: 35px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
  margin-right: 10px;
}

.account-dropdown{
  font-size: 20px;
  color: white;
}

.nav-tab{
  color: white;
  width: 150px;
  height: 100%;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-tab:hover{
  background: #0005;
}

.dropdown{
  position: fixed;
  right: 125px;
  top: 60px;
  background: #555a;
  height: 60px;
  width: 150px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.dropdown-button{
  width: 100%;
  text-align: center;
  padding: 5.5px 0;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.dropdown-button:hover{
  color: #fff;
}

.photo-list{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.photo-tree-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.loading-bar{
  width: 500px;
  height: 8px;
  border-radius: 12px;
  background: #333;
  margin-top: 10px;
  padding: 2px;
}

.loading-bar-inner{
  width: 0%;
  height: 8px;
  border-radius: 18px;
  background: #00ccff;
}

.photo-container{
  width: 100%;
  height: 100%;
}

.photo-container-bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.single-photo-container{
  margin: 10px;
  display: inline-block;
}

.photo-viewer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #0009;
  backdrop-filter: blur(75px);
  opacity: 0;
  display: none;
}

.image-container{
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 0;
}

.viewer-button{
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 12px;
  background: #8885;
  backdrop-filter: blur(10px);
  user-select: none;
  cursor: pointer;
  z-index: 7;
  box-shadow: #0008 0 0 10px;
}

.viewer-close{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.prev-button{
  transition: 0.25s;
  position: fixed;
  top: 50%;
  left: 0;
  color: white;
  width: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(50px);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  user-select: none;
  box-shadow: #000 0 0 10px;
}

.prev-button:hover{
  background: rgba(255, 255, 255, 0.349);
}

.next-button{
  transition: 0.25s;
  position: fixed;
  top: 50%;
  right: 0;
  color: white;
  width: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(50px);
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  user-select: none;
  box-shadow: #000 0 0 10px;
}

.next-button:hover{
  background: rgba(255, 255, 255, 0.349);
}

.reload-photos{
  position: fixed;
  top: 70px;
  right: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
  opacity: 0;
}

.confirmation-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: #0005;
  transition: 0.25s;
  backdrop-filter: blur(10px);
}

.confirmation-box-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9995;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  box-shadow: #000 0 0 10px;
  font-size: 18px;
  backdrop-filter: blur(10px);
}

.button-danger{
  display: inline-block;
  backdrop-filter: blur(10px);
  padding: 10px;
  background: rgba(255, 0, 0, 0.333);
  box-shadow: #0005 inset 0 0 10px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  width: 200px;
  transition: 0.25s;
}

.button{
  display: inline-block;
  padding: 10px;
  backdrop-filter: blur(10px);
  background: #9995;
  box-shadow: #0005 inset 0 0 10px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  width: 200px;
  transition: 0.25s;
}

.button:hover{
  box-shadow: #000a inset 0 0 10px;
}

.button-danger:hover{
  box-shadow: #000a inset 0 0 10px;
}

.control-buttons{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.control-buttons div{
  margin: 0 20px;
}

.copy-notif{
  position: fixed;
  top: 40px;
  left: 50%;
  color: white;
  transform: translateX(-50%) translateY(-100px);
  background: #8885;
  padding: 10px 40px;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  box-shadow: #000 0 0 10px;
  z-index: 12;
  opacity: 0;
  pointer-events: none;
}

.photo-tray{
  position: fixed;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #7778;
  backdrop-filter: blur(10px);
  box-shadow: #0008 0 0 10px;
  padding-bottom: 150px;
  margin-bottom: -150px;
}

.photo-tray-close{
  position: fixed;
  bottom: 160px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background: #8885;
  backdrop-filter: blur(10px);
  box-shadow: #0008 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  transition: 0.25s width;
}

.photo-tray-close:hover{
  width: 70px;
}

.photo-tray-columns{
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  text-align: center;
}

.photo-tray-column{
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
  mask-image: linear-gradient(to bottom, #0000 0%, #000 10%, #000 90%, #0000 100%);
}

.tray-heading{
  font-weight: bold;
  font-size: 20px;
}

.world-tags{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.world-tags div{
  padding: 0 10px;
  color: #bbb;
  transition: 0.25s;
}

.world-tags div:hover{
  color: #ddd;
}

.world-name{
  font-size: 17px;
}

.settings{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(100px);
}

.slide-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top: #aaa 1px solid;
  overflow-x: hidden;
  mask-image: linear-gradient(to left, #0000 0%, #000 20%, #000 80%, #0000 100%);
  background: #aaa2;
  box-shadow: #000 0 0 10px;
}

.inner-slide-bar{
  display: flex;
  height: 50px;
  width: 200%;
  color: white;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.slider-dot{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #aaa;
  margin: auto 25px;
}

.slider-text{
  width: 200px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.25s;
}

.slider-text:hover{
  color: #fff;
}

.slide-bar-tri{
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: transparent solid 5px;
  border-top: #fff solid 5px;
}

.settings-container{
  position: fixed;
  top: 50px;
  left: 0px;
  width: 200%;
  height: calc(100% - 100px);
  display: flex;
}

.settings-block{
  width: 50%;
  height: 100%;
  color: white;
  text-align: center;
}

.selector{
  padding: 10px 20px;
  border-radius: 10px;
  background: #000a;
  display: inline-block;
  margin: 10px;
}

.selector .selection-box{
  height: 20px;
  background: #777a;
  margin: 5px -10px 0 -10px;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition: 0.25s;
  color: #fff1;
}

.selector .selection-box:hover{
  height: 20px;
  background: #777a;
  margin: 5px -10px 0 -10px;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition: 0.25s;
  color: #fff5;
}

.selector input{
  display: none;
}

.selector input:checked ~ label .selection-box{
  background: rgba(0, 146, 204, 0.705);
  color: #fff;
}

.path{
  padding: 5px 10px;
  background: #000a;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.scroll-to-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-profile{
  margin: auto;
  width: 50%;
  height: 200px;
  display: flex;
}

.account-pfp{
  width: 200px;
  height: 200px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 50%;
  box-shadow: #0005 0 0 10px;
  position: relative;
  z-index: 10;
}

.account-desc{
  width: calc(100% - 200px);
  padding-left: 100px;
  height: 150px;
  margin: 25px 0;
  margin-left: -100px;
  background: #0009;
  border-radius: 10px;
  box-shadow: #0005 0 0 10px;
}

.storage-bar{
  width: calc(100% - 20px);
  height: 10px;
  margin-left: 10px;
  background: #555;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2px;
}

.storage-bar-inner{
  margin: 2px;
  height: 6px;
  background: #00ccff;
  border-radius: 10px;
}

.account-notice{
  background: #0007;
  border-radius: 5px;
  box-shadow: #0005 0 0 10px;
  padding: 10px;
  margin: auto;
  width: calc(50% - 20px);
  margin-top: 25px;
}